In [61]:
str_val = "Shahzaib"

In [62]:
str_val * 2

'ShahzaibShahzaib'

In [63]:
str_val[2]

'a'

In [64]:
str_val[-1]

'b'

In [65]:
# str_val[1] = 'g' #Strings are immutable.

In [66]:
str_val + "\t" + "is a Software Engineer."

'Shahzaib\tis a Software Engineer.'

In [67]:
# find method.
str_val.find('a')

2

In [68]:
len(str_val)

8

In [69]:
str_val.count('a')

2

In [70]:
"Shahzaib Noor ".strip()

'Shahzaib Noor'

In [71]:
"Shahzaib Noor".replace('h','h'.upper())

'SHaHzaib Noor'

In [72]:
"Shahzaib Noor".find('Noor')

9

In [73]:
"Shahzaib Noor".find('N')

9

In [74]:
"Shahzaib Noor".find('n')

-1

## Python Lists

In [75]:
list1 = ['physics', 'chemistry', 1997, 2000];
list2 = [1, 2, 3, 4, 5 ];
list3 = ["a", "b", "c", "d"];

In [76]:
### Accessing values in list.
print("list1[0]: ", list1[0])
print("list2[1:5]: ", list2[1:5])

list1[0]:  physics
list2[1:5]:  [2, 3, 4, 5]

In [77]:
print("list1[0]: {}".format(list1[0]))
print("list2[1:5]: ", list2[1:5])

list1[0]: physics
list2[1:5]:  [2, 3, 4, 5]

In [78]:
### Updating lists.
list1 = ['physics', 'chemistry', 1997, 2000];
print("Value available at index 2 : ")
print(list[2])
list1[2] = 2001;
print("New value available at index 2 : ")
print(list[2])

Value available at index 2 :
2001
New value available at index 2 :
2001

### Deleting Items from

In [79]:
list1

['physics', 'chemistry', 2001, 2000]

In [80]:
del list1[2]

In [81]:
list1

['physics', 'chemistry', 2000]

In [82]:
# list1.remove('2000') #ValueError: list.remove(x): x not in list

In [83]:
list1.remove(2000)

In [84]:
list1

['physics', 'chemistry']

In [85]:
L = ['spam', 'Spam', 'SPAM!']
L[1:]

['Spam', 'SPAM!']

In [86]:
L[0:]

['spam', 'Spam', 'SPAM!']

In [87]:
max(list1)

'physics'

In [88]:
min(list1)

'chemistry'

In [89]:
list1

['physics', 'chemistry']

In [91]:
list2.extend('shell')

In [92]:
list2

[1, 2, 3, 4, 5, 's', 'h', 'e', 'l', 'l']

In [94]:
# list2.extend(11) #Only accepts iterable to append.

In [96]:
list2.extend([12])

In [97]:
list2

[1, 2, 3, 4, 5, 's', 'h', 'e', 'l', 'l', 12]

In [98]:
list2.append(13)

In [99]:
list2

[1, 2, 3, 4, 5, 's', 'h', 'e', 'l', 'l', 12, 13]

In [100]:
list2.reverse()

In [101]:
list2

[13, 12, 'l', 'l', 'e', 'h', 's', 5, 4, 3, 2, 1]

In [102]:
list2.reverse()
list2

[1, 2, 3, 4, 5, 's', 'h', 'e', 'l', 'l', 12, 13]

In [107]:
sorted_list = [1,4,18,9,71,34]
sorted_list

[1, 4, 18, 9, 71, 34]

In [108]:
sorted_list.sort()

In [109]:
sorted_list

[1, 4, 9, 18, 34, 71]

## Python Tuples

In [116]:
tup1 = ('physics', 'chemistry', 1997, 2000);
tup2 = (1, 2, 3, 4, 5 );
tup3 = "a", "b", "c", "d";

In [117]:
type(tup3)

tuple

In [118]:
# To write a tuple containing a single value you have to include a comma, even though there is only one value.
tup4 = (50,);

In [119]:
tup5 = (100) #This is integer not tuple.

In [121]:
type(tup5)

int

In [123]:
type((23,'abc'))

tuple

In [124]:
print('abc', -4.24e93, 18+6.6j, 'xyz');
x, y = 1, 2;
print("Value of x , y : ", x,y);

SyntaxError: Missing parentheses in call to 'print'. Did you mean print('abc', -4.24e93, 18+6.6j, 'xyz')? (<ipython-input-124-89b2ae1702de>, line 1)