In [4]:
student = dict(firstname="Shahzaib",lastname="Noor",gender="Male",city="Karachi")

In [5]:
student

{'firstname': 'Shahzaib',
 'lastname': 'Noor',
 'gender': 'Male',
 'city': 'Karachi'}

In [6]:
student.keys()

dict_keys(['firstname', 'lastname', 'gender', 'city'])

In [8]:
type(student.keys())

dict_keys

In [9]:
student.values()

dict_values(['Shahzaib', 'Noor', 'Male', 'Karachi'])

In [10]:
type(student.values())

dict_values

In [14]:
for index,value in enumerate(student):
    print(index,value,student[value])

0 firstname Shahzaib
1 lastname Noor
2 gender Male
3 city Karachi

### Tuple

In [15]:
t3 = 0,1,2,3
type(t3)

tuple

In [17]:
t4 = ('abc', ('def', 'ghi'))
t4

('abc', ('def', 'ghi'))

In [18]:
type(t4)

tuple

In [3]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

In [4]:
for x in range(6):
    print(x)
else:
    print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [15]:
x = 20

def my_fn():
    global x
    x = x - 1
    print("Value of x: ",x)
    
my_fn()

Value of x:  19

In [16]:
Dict={"key1":1,"key2":"2","key3":[3,3,3],"key4":(4,4,4),('key5'):5,(0,1):6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [17]:
Dict["key1"]

1

In [ ]:
Dict[(0,1)]