In [12]:
%config IPCompleter.greedy=True
nums = [2, 3, 45, 67, 10, 1]
nums.sort()
nums

[1, 2, 3, 10, 45, 67]

In [13]:
# length of a list.
len(nums)

6

In [14]:
compound_data = [1, "Pakistani", 100, "Shahzaib"]
compound_data

[1, 'Pakistani', 100, 'Shahzaib']

In [16]:
nationality = compound_data[1:2]
nationality

['Pakistani']

In [12]:
subjects = ["English", "Mathematics", "Quantum Mechanics", "Software Engineering", "Art", "Logic Designing", "Data Warehousing"]
# Remove subjects using del, remove and pop
del subjects[subjects.index("Art")]
print("Deletion using del.")
print(subjects)
#
print()
subjects.remove("Logic Designing")
print("Deletion using remove()")
print(subjects)
# Lets get an a subject out of our list.
# favourite_subject = subjects.pop("Quantum Mechanics")
favourite_subject = subjects.pop(subjects.index("Quantum Mechanics"))
print()
print("Favourite subject:"+" "+favourite_subject)

Deletion using del.
['English', 'Mathematics', 'Quantum Mechanics', 'Software Engineering', 'Logic Designing', 'Data Warehousing']

Deletion using remove()
['English', 'Mathematics', 'Quantum Mechanics', 'Software Engineering', 'Data Warehousing']
Favourite subject: Quantum Mechanics

In [13]:
names = ["Shahzaib", "Steve", "Clark"]
tuple(names)

('Shahzaib', 'Steve', 'Clark')

In [19]:
def return_cities() -> str:
    return True

In [2]:
#Nested For Loops
first_names = ["BlueRay ", "Upchuck ", "Lojack ", "Gizmo ", "Do-Rag "]
last_names = ["Zzz", "Burp", "Dogbone", "Droop"]
full_names = []
for a_first_name in first_names:
 for a_last_name in last_names:
  full_names.append(a_first_name + " " +a_last_name)
full_names

['BlueRay  Zzz',
 'BlueRay  Burp',
 'BlueRay  Dogbone',
 'BlueRay  Droop',
 'Upchuck  Zzz',
 'Upchuck  Burp',
 'Upchuck  Dogbone',
 'Upchuck  Droop',
 'Lojack  Zzz',
 'Lojack  Burp',
 'Lojack  Dogbone',
 'Lojack  Droop',
 'Gizmo  Zzz',
 'Gizmo  Burp',
 'Gizmo  Dogbone',
 'Gizmo  Droop',
 'Do-Rag  Zzz',
 'Do-Rag  Burp',
 'Do-Rag  Dogbone',
 'Do-Rag  Droop']

In [4]:
salary = int(input("Enter your salary:"))

Enter your salary:2344

In [1]:
import numpy as np

SyntaxError: invalid syntax (<ipython-input-1-a9788138142b>, line 2)

In [4]:
print("Pakistan",1,sep="-")

Pakistan-1

In [8]:
print("I",end="")
print("am",end="")
print("Pakistan")

IamPakistan

In [9]:
#horizontal tab.
print("I",end="\t")
print("am",end="\t")
print("Pakistan")

I	am	Pakistan

In [11]:
print("I",end="\v")
print("am",end="\v")
print("Pakistan")

IamPakistan

In [18]:
num1 = 34 / 2
num2 = 34 // 2
num3 = 13.5 // 2
print(f"Float divison: {num1}")
print(f"Integer divison: {num2}")
print(f"Integer divison: {num3}")

Float divison: 17.0
Integer divison: 17
Integer divison: 2.0

In [2]:
cities = ["khi","islamabad", "quetta", "multan"]
cities.remove("khi") # It needs one mandatory argument.
cities

['islamabad', 'quetta', 'multan']

In [3]:
cities

['islamabad', 'quetta', 'multan']

In [4]:
new_cities = cities[:-1]
new_cities

['islamabad', 'quetta']

In [5]:
cities

['islamabad', 'quetta', 'multan']

In [6]:
new_cities_2 = cities[1:]
new_cities_2

['quetta', 'multan']

In [12]:
cities.extend(["peshawar","rawalpindi"])
print(f"Cities:{cities}")
new_cities_3 = cities[0:(len(cities)-1) - 2]
new_cities_3

Cities:['islamabad', 'quetta', 'multan', 'peshawar', 'rawalpindi', 'peshawar', 'rawalpindi', 'peshawar', 'rawalpindi', 'peshawar', 'rawalpindi', 'peshawar', 'rawalpindi']

['islamabad',
 'quetta',
 'multan',
 'peshawar',
 'rawalpindi',
 'peshawar',
 'rawalpindi',
 'peshawar',
 'rawalpindi',
 'peshawar']

In [27]:
fruits = ["apple", "mango", "peach", "grapes", "orange", "banana"]
sub_list_fruits = fruits[0:-1]
last_element = sub_list_fruits[0:-1].pop()
print(f"Child list of fruits: {sub_list_fruits}")
last_element

Child list of fruits: ['apple', 'mango', 'peach', 'grapes', 'orange']

'grapes'

In [4]:
for val in range(1,10,2): #third value is step value.
    print(val)

1
3
5
7
9

In [7]:
# A Tuple without parenthesis.
countries = "Pakistan", "America"
for char in countries:
    print(char)

Pakistan
America

In [9]:
l1 = [2, 4, 6]
l1 = l1 * 3
print(l1)

[2, 4, 6, 2, 4, 6, 2, 4, 6]

In [14]:
sample_dict = {"student_info": ("Shahzaib", "Noor")}
type(sample_dict["student_info"])

tuple

In [15]:
freaky_test_with_tuple = 2 * sample_dict["student_info"]
freaky_test_with_tuple

('Shahzaib', 'Noor', 'Shahzaib', 'Noor')

In [16]:
freaky_test_with_dictionary = sample_dict * 2
freaky_test_with_dictionary

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [18]:
my_dict = {1: input("Enter your command:")}
my_dict.get
mydict

Enter your command:34

{1: '34'}

# List Comprehension.

In [4]:
squares = [2*value for value in range(1,11)]
squares

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [8]:
names = ["Shahzaib", "James", "Helen", "Claire", "Baron"]
ascii_codes_names = [{val[0] : ord(val[0])} for val in names]
ascii_codes_names

[{'S': 83}, {'J': 74}, {'H': 72}, {'C': 67}, {'B': 66}]

# Let’s say I give you a list saved in a variable: a = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]. Write one line of Python that takes this list a and makes a new list that has only the even elements of this list in it.

In [9]:
a = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
a_elevens_list = [even_number for even_number in a if even_number%2 == 0]
a_elevens_list

[4, 16, 36, 64, 100]

# Feed data for dictionary by user input.

In [12]:
user_bio = {"firstname": input("Enter your first name:").lower(),
            "firstname": input("Enter your last name:").lower(),
            "age": input("Enter your last name:").lower(),"country":input("Enter your country:").lower()}
user_bio

Enter your first name:Shahzaib
Enter your last name:Noor
Enter your last name:25
Enter your country:Pakistan

{'firstname': 'noor', 'age': '25', 'country': 'pakistan'}

Generate a random number between 1 and 9 (including 1 and 9). Ask the user to guess the number, then tell them whether they guessed too low, too high, or exactly right.

In [32]:
import random
guessed_number = int(input("Enter your number:"))
random_number = random.randint(1,9)
if guessed_number == random_number:
    print("Exactly right!")
elif guessed_number > 9: 
    print("Guessed too high.")
elif guessed_number < 1: 
    print("Guessed too low.")
else:
    print("Wrong guess!")
    print(random_number)
# print(f"Random Number: {str(random_number)}")

Enter your number:5
Wrong guess!
2

In [34]:
# generate a password with length "passlen" with no duplicate characters in the password

import random

s = "abcdefghijklmnopqrstuvwxyz01234567890ABCDEFGHIJKLMNOPQRSTUVWXYZ!@#$%^&*()?"
passlen = 8
p =  "".join(random.sample(s,passlen ))
print(p)

6LgfS*7K

In [41]:
str = "Bruce".casefold() #aggressive lower string conversion.
# str[0] = "B" #gives error.
str

'bruce'

In [42]:
if int() == float():
    print(int() == float())
else:
    print("I don't know.")

True

In [43]:
if int() == str():
    print(int() == float())
else:
    print("I don't know.")

TypeError: 'str' object is not callable

In [46]:
for num in range(20,10,-2):
    print(num)